{% load static %}
<div class="row">
    {% for article in articles %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mt-3" style="width: 18rem;" id="article_{{ article.pk }}">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
                    <p class="card-text">
                        {% for tag in article.tags.all %}
                            {{ tag.name }}{% if forloop.last %}. {% else %}, {% endif %}
                        {% empty %}
                            Нет ни одного тега
                        {% endfor %}
                    </p>
                    <div class="btn-group" role="group">
                        <a href="{{ article.get_absolute_url }}" class="btn btn-primary"><i
                                class="bi bi-blockquote-right"></i></a>
                        {% if perms.webapp.change_article or request.user == article.author %}
                            <a href="{% url "webapp:update_article" article.pk %}"
                               class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        {% endif %}
                        {% if perms.webapp.delete_article %}
                            <a href="{% url "webapp:delete_article" article.pk %}" class="btn btn-primary"><i
                                    class="bi bi-trash3"></i></a>
                        {% endif %}
                    </div>
                </div>
                <span style="margin-left: 15px" class="like-count">Лайков: {{ article.users_likes.count }}</span>
                {% if request.user.is_authenticated %}
                    <a href="" class="like-article" data-url="{% url 'webapp:article_like' article.pk %}"
                       style="display: block; text-align: center; width: 100%; padding: 10px 10px; background-color: aqua">
                        {% if request.user in article.users_likes.all %}
                            <i class="bi bi-heart-fill"></i>
                        {% else %}
                            <i class="bi bi-heart"></i>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <h2>статьи не найдены</h2>
    {% endfor %}
</div>
{% if is_paginated %}
    {% include "partial/pagination.html" %}
{% endif %}
<script src="{% static 'js/scripts.js' %}"></script>